<app-header></app-header>

<!-- Hero Section -->
<div class="hero-banner">
  <div class="hero-content">
    <h1>Hello {{user.username}},Welcome to eStore</h1>
    <p>Discover amazing deals and exclusive collections!</p>
    <!-- <button class="btn hero-btn">Shop Now</button> -->
  </div>
</div>

<!-- Categories Section -->
<div class="categories">
  <h2>Shop by Category</h2>
  <div class="category-grid">
    <div class="category-card" *ngFor="let category of categories" (click)="goToCategory(category)">
      <img [src]="category.image" alt="{{ category.name }}" onError="this.onerror=null;this.src='https://via.placeholder.com/500x500?text=Image+Not+Available';" style="max-height: 400px;" />
      <h3>{{ category.name }}</h3>
    </div>
  </div>
</div>

<!-- Best Sellers Section -->
<div class="categories">
  <h2>Best Sellers</h2>
  <div class="product-carousel">
    <div class="product-card" *ngFor="let product of bestSellers" (click)="openProductModal(product)">
      <img [src]="product.image" alt="{{ product.name }}" onError="this.onerror=null;this.src='https://via.placeholder.com/500x500?text=Image+Not+Available';" style="width: 500px;"/>
      <h3>{{ product.name }}</h3>
      <span style="float: left; margin-top: 5px; margin-left: 10px;">$ {{ product.price.toFixed(2) }}</span>
      <button *ngIf="!isProductInCart(product.ID)" class="btn" (click)="addToCart(product); $event.stopPropagation()">Add to Cart</button>
      <button *ngIf="isProductInCart(product.ID)" class="btn" style="background-color: #565656 !important; color: white;" (click)="goToCart(); $event.stopPropagation()">Go To Cart</button>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->


<app-product-display 
  *ngIf="displayProduct"
  [product]="modalProduct"
  [cart]="cart"
  (closeModal)="closeModal()">
</app-product-display>